@font-face {
  font-family: Averi-Next-Bold;
  src: url(./AvenirNextLTPro/AvenirNextLTPro-Bold.otf) format("opentype");
}

@font-face {
  font-family: Averi-Next-Bold-Cn;
  src: url(./AvenirNextLTPro/AvenirNextLTPro-BoldCn.otf) format("opentype");
}

@font-face {
  font-family: Averi-Next-Demi;
  src: url(./AvenirNextLTPro/AvenirNextLTPro-Demi.otf) format("opentype");
}

@font-face {
  font-family: Averi-Next-Demi-Cn;
  src: url(./AvenirNextLTPro/AvenirNextLTPro-DemiCn.otf) format("opentype");
}

@font-face {
  font-family: Averi-Next-Italic;
  src: url(./AvenirNextLTPro/AvenirNextLTPro-It.otf) format("opentype");
}

@font-face {
  font-family: Averi-Next;
  src: url(./AvenirNextLTPro/AvenirNextLTPro-Regular.otf) format("opentype");
}
