<div class="container at-auth-container">
  <div class="at-auth-cover">
    <div class="at-left bg-base space-between">
      <h1 class="at-auth-header at-h1">
        Welcome to Aerotrax!
      </h1>
      <p class="text-sm">
        At Aerotrax we leverage blockchain technology to streamline the
        procurement and coordination in the aviation industry in order to manage
        supply chain networks and facilitate aftermarket exchanges.
      </p>
    </div>
    <div class="at-right">
      <h2 class="at-h2">Sign In</h2>
      <form class="at-login-form">
        <mat-form-field class="at-form-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder=""
            value=""
            class="at-input-element"
            type="email"
          />
        </mat-form-field>

        <mat-form-field class="at-form-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder=""
            value=""
            class="at-input-element"
            type="password"
          />
        </mat-form-field>
        <div class="flex align-center space-between form-footer">
          <a routerLink="/register" class="text-sm text-base">Create Account</a>
          <button mat-stroked-button class="bg-medium-gray text-white">
            Sign In
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
